.body {
    margin: 0;
    overflow: hidden;
}

.main-content, img {
    width: 70%;
    position: absolute;
    display: inline-block;
    margin: 0;
}
.main-heading {
    text-align: top;
    font-family: monospace;
    font-size: 70px;
    position: relative;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: rgb(148, 80, 80);
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: rgb(205, 50, 166);
  }
  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }
}
