.body {
    margin: 0;
    overflow: hidden;
}

.main-content, img {
    width: 30%;
    height:max-content;
    position:calc(80);
    display: block;
    margin: 100;
}
.main-heading {
    text-align: middle;
    font-family: monospace;
    font-size: 55px;
    position: relative;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: rgb(148, 80, 80);
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: rgb(158, 133, 152);
  }
  .column {
    width: 250px;
    float: left;
    padding: 10px;
  }
}
.biography, button{
    position: absolute;
    top: 18px;
    right: 21px;
    padding: 10px;
    font-size: 16px; 
    background-color: transparent;
    font-weight: bold;
    border-style: dotted;
    border-width: 3px;
    border-color: rgb(219, 207, 207);
}
.biography:hover{
    color: rgb(184, 137, 137);
    border-color: white;
}
